body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/images/logInBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: rgb(59, 54, 58);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px;
    width: 300px;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"], input[type="password"] {
    width: 280px; /* Full width input fields */
    padding: 10px; /* Padding inside the input fields */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners for input fields */
    font-size: 16px; /* Font size */
}

button {
    text-align: center;
    width: 40%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    background-color: #007bff; /* Button color */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners for button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color change */
}

.button-group {
    display: flex;
    align-items: center; /* Center aligns items vertically */
    justify-content: space-around; /* Center aligns items horizontally */
    margin-top: 10px;
}
.login-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; /* Removes underline */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.or-text {
    margin: 0 10px;
    color: white;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #218838; /* Slightly darker green on hover */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}